/* globals.css */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-inter, sans-serif);
}

:root {
    /* Colores comparsas */
    --color-ferro: #1c6a1f;
    --color-velez: #03a9f4;
    --color-primero: #9c27b0;
    --color-sanclemente: #d9cc3a;

    /* Color acento general */
    --color-acento: #e91e63;

    /* Botón principal */
    --color-cta: #4caf50;

    /* Fuentes */
    --font-title: var(--font-greatvibes);
}