.historia {
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    
}

.historia h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.historia p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.carousel {
    margin-top: 1rem;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.slideImg {
    max-width: 100%;
    max-height: 250px;
    /* controla la altura máxima para verticales */
    height: auto;
    width: auto;
    border-radius: 10px;
    object-fit: contain;
    /* mantiene proporciones, no corta nada */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}